/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex: 1;
    background-color: #838383;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f1f1f1;
    color: #333;
    padding: 20px;
}

.sidebar a {
    color: #000000;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

/* Dashboard Styles */
h1 {
    text-align: center;
    margin-top: 0;
}

.status-container {
    display: flex;
    justify-content: space-between;
}

.status-box {
    width: 22%;
    padding: 20px;
    background-color: #e9e9e9;
    border-radius: 5px;
    text-align: center;
}

.status-box.total-packages {
    background-color: #4CAF50; /* Green */
    color: #fff;
}

.status-box.completed-builds {
    background-color: #008CBA; /* Blue */
    color: #fff;
}

.status-box.failed-builds {
    background-color: #f44336; /* Red */
    color: #fff;
}

.status-box.in-progress {
    background-color: #ff9800; /* Orange */
    color: #fff;
}

/* Recipe Page Styles */
.details-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50; /* Dark Gray */
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Slightly lighter Gray */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #4b4b4b; /* Dark Gray */
    color: white;
}

thead {
    background-color: #f2f2f2;
}

/* Legend Styles */
.legend {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.legend-item {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.all-good {
    background-color: #005500; /* Dark Green */
}

.failed {
    background-color: #afaf00; /* Yellow */
}

.jenkins-broken {
    background-color: #b300b3; /* Purple */
}

.broken {
    background-color: #FF0000; /* Red */
}

.job-not-run {
    background-color: #FFFF00; /* Yellow */
}

/* Filter and Button Styles */
.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-select {
    margin-right: 10px;
}

.filter-checkbox {
    margin-left: 10px;
}

.filter-checkbox input {
    margin-right: 5px;
}

/* Download and Parsing Button Styles */
.download-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.download-links button {
    margin-left: 10px; /* Adds space between the buttons */
}

.filter-buttons {
    margin-bottom: 20px; /* Adds space below filter buttons */
}

.filter-buttons button {
    margin-right: 10px; /* Adds space between "Full View" and "Display Broken" buttons */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .content {
        padding: 10px;
    }

    .status-container {
        flex-direction: column;
    }

    .status-box {
        width: 100%;
        margin-bottom: 20px;
    }
}
